/* setup */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* typography */
body {
    font-family: 'Press Start 2P', cursive;
    height: 90vh;
    background-color: #4160f8;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom, #4160f8, #4160f8 7%, #60cfe1 7%, #60cfe1 8%, #4160f8 8%, #4160f8 10%, #60cfe1 10%,
    #60cfe1 11%, #4160f8 11%, #4160f8 13%, #60cfe1 13%, #60cfe1 18%, #4160f8 18%, #4160f8 20%, #60cfe1 20%, #60cfe1 21%,  #4160f8 21%,
    #4160f8 23%, #60cfe1 23%, #60cfe1 24%, #4160f8 24%, #4160f8 37%, #60cfe1 37%, #60cfe1 38%, #4160f8 38%, #4160f8 40%, #60cfe1 40%,
    #60cfe1 41%, #4160f8 41%, #4160f8 43%, #60cfe1 43%, #60cfe1 48%, #4160f8 48%, #4630f8 50%, #60cfe1 50%, #60cfe1 51%,  #4160f8 51%,
    #4160f8 53%, #60cfe1 53%, #60cfe1 54%, #4160f8 54%, #4160f8 67%, #60cfe1 67%, #60cfe1 68%, #4160f8 68%, #4160f8 70%, #60cfe1 70%,
    #60cfe1 71%, #4160f8 71%, #4160f8 73%, #60cfe1 73%, #60cfe1 78%, #4160f8 78%, #4630f8 80%, #60cfe1 80%, #60cfe1 81%,  #4160f8 81%,
    #4160f8 83%, #60cfe1 83%, #60cfe1 84%, #4160f8 84%); */
}

/* strip default styles */
h1, p, ul {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

/* wrappers */
.outerWrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.innerWrapper {
    margin: 0 auto;
    width: 80%;
}

/* header styles */
header {
    z-index: 10;
    position: relative;
    width: 100%;
    margin-top: 2vh;
    padding: 20px;
    background-color: black;
    color: white;
    
    border: 2px solid #6bcbd6;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px #6bcbd6, 0 0 0 6px black, 0 0 0 8px white, 0 0 0 10px black ;
}

h1 {
    margin-bottom: 5px;
}

.headerWrapper {
    position: relative;
}

.backgroundBar {
    position: absolute;
    z-index: -20;
    top:0;
    left: -100%;
    
    width: 500vw;
    height: 100%;
    background: linear-gradient(to bottom,   #4160f8 5%, #60cfe1 5%, #60cfe1 6%, #4160f8 6%, #4160f8 15%, #60cfe1 15%, #60cfe1 19%, #4160f8 19%, #4160f8 30%, #60cfe1 30%, #60cfe1 70%,
    #4160f8 70%, #4160f8 81%, #60cfe1 81%, #60cfe1 85%, #4160f8 85%, #4160f8 94%, #60cfe1 94%, #60cfe1 95%, #4160f8 95%)
}

/* border lights */
.cornerLight {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(at 30% 30%, white 1px, black 1px )
   
}

header .cornerLight {
    background-color: white;
}

.cornerLight:nth-child(1) {
    top:-10px;
    right: -10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.cornerLight:nth-child(2) {
    top:-10px;
    left: -10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.cornerLight:nth-child(3) {
    bottom:-10px;
    right: -10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.cornerLight:nth-child(4) {
    bottom:-10px;
    left: -10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

/* successful roll part */
.successes {
    margin-top: 20px;
    color: white;
}

.diceArea {
    margin-top: 2vh;
    width: 100%;
    height: 60vh;
    display: grid;
    /* number of columns is equal to the length of the grid array, divided equally */
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: minmax(100px, auto);     */
    
}

.diceWrap {
    position: relative;
    display: block;
    height: 5.5vw;
    max-height: 70px;
    margin: 13px;
    background-color: black;
    color: white;

    border: 2px solid #6bcbd6;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px #6bcbd6, 0 0 0 6px black, 0 0 0 8px white, 0 0 0 10px black ;
}

.diceArea p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successRoll {
    background-color: limegreen;
}

.failRoll {
    background-color: red;
}

/* footer styles */
.rerollSection {
    z-index: 10;
    position: relative;
    width: 100%;
    margin-top: 2vh;
    padding: 20px;
    background-color: black;
    color: white;
    
    border: 2px solid #6bcbd6;
    outline: 2px solid white;
    box-shadow: 0 0 0 4px #6bcbd6, 0 0 0 6px black, 0 0 0 8px white, 0 0 0 10px black ;
}